.header{
   font-family: 'Monda', sans-serif;
   width: 100%;
   height: 60px;
}

.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.link{
   text-decoration: none;
   color: white;
   transition: .1s linear;
}
.link:hover{
   opacity: 40%;
}

.nav_bar{
   width: 480px;
   height: fit-content;
   display: flex;
   justify-content: space-between;

   
   font-size: 24px;
}


.home_button{
   transition: .3s linear;
   filter:drop-shadow(3px 3px 2px #000000)
}

.home_button:hover{
   filter:none
}


