.BODY{
   overflow-x: hidden;
   margin: 0;
   width: 100vw;
   height: fit-content;
   background:linear-gradient(135deg, #0E6767 12.49%, #332D40 68.85%, #3C1135 95.78%, rgba(9, 9, 9, 0.00) 100%), linear-gradient(135deg, #062B2B 12.49%, #332D40 68.85%, #0B0F06 86.64%, rgb(70 17 70) 100%);
   }
/* 
.body-enter {
   background-color: rgba(0, 0, 0, 0.29);
}

.body-enter-active {
   background:linear-gradient(135deg, #0E6767 12.49%, #332D40 68.85%, #3C1135 95.78%, rgba(9, 9, 9, 0.00) 100%), linear-gradient(135deg, #062B2B 12.49%, #332D40 68.85%, #0B0F06 86.64%, rgb(70 17 70) 100%);
   
   transition: 1s cubic-bezier(0, 0.67, 0.690, 1);
} */


